<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MesureAmpouleADecanter_ScannerFibre.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MesureAmpouleADecanter_ScannerFibre.Properties.Settings>
            <setting name="roi_left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="roi_right" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="roi_top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="roi_bottom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="houghcircle_dp" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="houghcircle_param1" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="houghcircle_param2" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="file" serializeAs="String">
                <value />
            </setting>
        </MesureAmpouleADecanter_ScannerFibre.Properties.Settings>
    </userSettings>
</configuration>