/venv
/Decantation simulation/UserSettings/Layouts
/DATA/multicam 01 ALU sensibilite auto
/DATA/multicam 02 ALU sensibilite fixe
/DATA/multicam 03 Calcaire sensibilite fixe
/MesureAmpouleADecanter/Assets/OpenCVForUnity
